.matScrollList {
    display: block;
    height: 400px;
    min-width:100px;
    background: var(--background-main);
    border: 1px solid var(--background-darken);
    overflow-y: auto;
    overflow-x: hidden;
    margin:5px;
}

.material-ScrollSearch {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--background-darken);
    padding: 5px;
}

.material-ScrollSearchAdd {
    width: calc(100% - 32px);
}

.matScrollSearchAddButton {
    padding: 8px 14px;
    background: white;
    border-bottom: 2px solid var(--background-darken);
    margin-left: -10px;
    cursor: pointer;
    user-select: none;
}

.material-ScrollItem {
    background: var(--background-main);
    color: var(--text-main);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.material-ScrollItem:hover {
    background: var(--theme-main-lighten);
    color: var(--text-accent);
}

.material-ScrollItem-selected {
    background: var(--theme-main)!important;
    color: var(--text-accent);
}
