
<template id="template-material-scroll-item">
    <div class="material-ScrollItem" data-value="{id}" data-order="{order}" onclick="selectItem(this, 'material-ScrollItem');{selectFunction}">
        {name}
        <i class="{icon}" onclick="event.stopPropagation();{function}(this.parentNode.dataset.value);"></i>
    </div>
</template>

<template id="template-material-scroll-search-add">
    <i class="fa fa-plus matScrollSearchAddButton" onclick="{function}(this.previousElementSibling.value);"></i>
</template>

<template id="template-material-scroll-list">
    <p style="text-align: center;">{title}</p>
    <div id="customViews" class="matScrollList">
        <input type="text" class="material-ScrollSearch {searchAddClass}"
            oninput="filterItems(this.value, Array.from(this.parentNode.children).slice(-1)[0].children);"
            placeholder="Search">
        {searchAdd}
        <div class="material-scrollItems" data-delete-function="deleteMyView">{options}</div>
    </div>
</template>
